<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="<%- description%> • Dashactyl">
        <link rel="stylesheet" href="/public/style.css">
        <link rel="icon" href="/public/logo.png">
        <title><%- title %> | Dashactyl</title>
        <style media="screen">
            :root {
              --dark1: #1D1E28;
              --dark2: #14151C;
              --fontColor1: #FFFFFF;
              --fontColor2: #A2A8BD;
              --themeColor: #5865F2;
            }
          </style>
</head>
<body function="onLoad()">
  <hr class="topline">

